@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --board-border: #8f7f6e;
  --bg: #2e2c2a;

  --white: #eee;
  --black: #111;

  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  --select-10: #4b8f3c;  /* Light green - like fresh leaves */
  --select-5:  #2e5e2a;  /* Medium green - mossy and natural */
  --select-0:  #1a421d;  /* Dark green - forest floor or deep woods */
  

  --font-family: "Inter", Helvetica, Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: var(--font-family);
  color: var(--black);

  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 12px solid var(--board-border);
}

.icon {
  font-family: "Material Symbols Rounded", sans-serif;
  font-variation-settings: "FILL" 1;
  font-size: 28px;
  font-weight: 400;
  user-select: none;
}
